/* --- BODY --- */
body {
    background-color: #fff;
    background: linear-gradient(#fff, #EAEAEA , #FAEDF0, #E2C2B9);  
    background-attachment: fixed;  
    display: inline-block;
    
}
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    
}
img {
    max-width: 100%;
    
}

header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
}

header img {    
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    margin-top: .3em;   
    border-radius: 1.2em;
    display: block;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
    font-size: 1.5em;    
    font-weight: lighter;    
    text-align: center;
    margin-top: .5em; 
    margin-bottom: 2em;  
    
    
}
nav ul {    
    margin-top: .5em;    
    padding: 0;
}
nav li {
    display: inline;
    list-style-type: none;
    padding: 0;    
    padding: 0;
    margin-right: 4em;
    
}
nav li a {
    text-decoration: none;
    white-space: pre-wrap;
    color:#D4AC2B;
}

nav li a:hover {
    color: #998CEB;
}

          /* --- TRAVEL PAGE --- */
/* --- MAIN ---- */

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: #1B2A49;       
    width: 95%;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: block;
   
   
}
/* This is Section */
.topic1 {   
    float: right;
    width: 70%; 
   
    
}
section h4 {
    text-align: center;
    color: #5D54A4;
    margin-top: 0;
}
section p {
    font-size: medium;
    color:#5D54A4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
}

.boracayimg1 {
    width: 55%;
    border: solid #D4AC2B;
    border-radius: .5em;
    margin-left: 25%;
    margin-bottom: .5em;
    
}
.boracayimg2 {
    width: 30%;
    margin-left: 10%;
    border-radius: .5em;
    border: solid #D4AC2B;
    margin-bottom: .5em;
}
.boracayimg3 {
    width: 50%;   
    margin-left: 2%;
    border-radius: .5em;
    border: solid #D4AC2B;
    margin-bottom: .5em;
}
.boracayimg4 {
    width: 55%;
    border: solid #D4AC2B;
    border-radius: .5em;
    margin-left: 25%;
    margin-bottom: .5em;
}
.boracayimg5 {
    width: 55%;
    border: solid #D4AC2B;
    border-radius: .5em;
    margin-left: 25%;
    margin-bottom: .5em;

}
.boracaylist-1 ul {
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
}
.boracaylist-1 ul li {    
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    padding: .5em;
    margin-left: 2.5em;
}
.boracaylist-2 ul li {    
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    padding: .5em;
    margin-left: 2em;
}
.boracaylist-3 ul li {    
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    padding: .5em;
    margin-left: 2.5em;
}
.boracaylist-3 a {
    color: #5D54A4;

}
.boracaylist-3 a:hover {
    color: #D4AC2B;

}
.boracaylist-4 ul li {    
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    padding: .5em;
    margin-left: 2.5em;
}
.boracaylist-4 a {
    color: #5D54A4;

}
.boracaylist-4 a:hover {
    color: #D4AC2B;

}
.boracaylist-5 ul li {    
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    padding: .5em;
    margin-left: 2.5em;
}
.boracaylist-5 a {
    color: #5D54A4;

}
.boracaylist-5 a:hover {
    color: #D4AC2B;

}
h5 {
    color: #5D54A4;
    text-align: center;
    font-weight: bold;
}

#hkdisneyland {
    margin-top: 3em;
}
.hkdisney-img2 {
    width: 55%;
    border: solid #D4AC2B;
    border-radius: .5em;
    margin-left: 23%;
    margin-bottom: .5em;

}

/* --- ARTICLE --- */
article {
    width: 23%;  
    float: left;   
    display: block;   
} 
aside {
    display: block;
}
  
.aside-1 {       
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: .5em;    
    padding: .5em;
    padding-bottom: 1.5em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
    color: #D4AC2B;
    text-align: center;
    background-color: #F7DAD9;
    /*border: solid #1F1D36;*/
    border-radius: 0 1em;
    box-shadow: 1em 1em 1em; 
    
}
.aside-1 img {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    border-radius: 1em;   
    opacity: .8; 
}

.aside-1 img:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;

}
.aside-1 p {
    font-weight: bolder;
}
.aside-1 a{   
    text-decoration: none;   
    color: #D4AC2B;
    font-size: small; 
    
}
.aside-1 a:hover {
    color: #998CEB;

}
.aside-2 {       
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .5em; 
    padding: .5em;
    padding-bottom: 1.5em;
    margin-right: auto;
    margin-left: auto;    
    color: #D4AC2B;
    text-align: center;
    background-color: #F7DAD9;  
    border-radius: 1em 0; 
    box-shadow: 1em 1em 1em;    

}
.aside-2 p {
    font-weight: bold;
}
.aside-2 a{
    padding-bottom: 2em;
    text-decoration: none;
    color: #D4AC2B;
    margin-bottom: 2em; 
    font-size: .1em;
}
.aside-2 a:hover {
    color: #998CEB;

}
.aside-2 img {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5em;
    border-radius: 1em;   
    opacity: .8; 
}

.aside-2 img:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/* --- BACK TO HOME PAGE --- */
.backtohome {
    float: right;
    font-size: .6em;
    font-weight: bold;
    margin-top: 5em;
}
.backtohome:hover {
    color: #998CEB;
    
}


/* TRAVEL*/
.travel .aside-2 img {
    width: 15%;
    margin-top: 0%;
    
}
.travel .aside-2 a {
   font-size: small;    
}
.travel .aside-2 .p1 {
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 1.5%;
}


/* ----- HOBBIES ---- */
.mangofloat-img1 {
    width: 30%;
    border: solid #D4AC2B;
    border-radius: .5em;
    margin-left: 35%;
    margin-bottom: .5em;

}
.mango-recipe p {
    font-size: medium;
    margin-left: 4em;
}
.mango-recipe ul {
    font-size: medium;
    list-style-type: square;
    color: #5D54A4;
    margin-left: 5em;
    margin-bottom: 2em;
}
.mango-recipe ol {
    font-size: medium;    
    color: #5D54A4;    
    width: 85%;
    margin-left: auto;
    margin-right: auto;    
}
.mango-recipe ol li {
    padding: .5em;
}
.figma-design {
    margin-top: 2em;
}
.figma-design img {
    width: 55%;
    border: solid #D4AC2B;
    margin-left: 22%;
    margin-bottom: 2em;
}
.figma-design p {
    text-align: center;
}
.figma-design a:hover {
    color: #998CEB;

}
.hobbies .aside-1 img {
    width: 50%;
   
}
.hobbies .aside-2 img{
    width: 15%;
    padding-right: 1.5em;
    

}
/* ---- ABOUT ----*/

.about .aside-1 img {
    width: 15%;
    padding-right: 1em;
}
.about .aside-2 a {   
    font-size: .9em;
    text-decoration: underline;
}
.about .aside-2 img{
    width: 10%;
    display: block; 
    margin-bottom: .5em; 

}
.about .aside-2 .p1 {
    font-size: 2em;
    margin-top: 0%;
    margin-bottom: 1.5%;
}
.about-me img {
    width: 15%;
    border-radius: 1em;
}

 /* --- FOOTER --- */
 footer {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
    padding: 1em;
    display: block;
    overflow: auto;
}
footer p, a {
    color: #D4AC2B;    
}
footer a:hover {
    color: #998CEB;
}

/* -------- MEDIA QUERY -------- */

/* -- phones size -- */
@media only screen and (max-width: 700px) {
    
}
