<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>

<body>
    <div id="container">

    <header>
        <a href="index.html"><img src="images/blogbanner.png" alt="Kristina's Diary"></a>
    </header>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="travel.html">Travel</a></li>
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="contact.html">Let's Talk!</a></li>
        </ul>
    </nav>
    <footer>
        <div id="copyright">
            <p>
            &copy; Copyright 2021. All Rights Reserved. <br>
            <a href="mailto:kristinasdiary@myblog.com">kristinasdiary@myblog.com</a></p>
          </div>
    </footer>

</div> 
</body>
</html>
