<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
</head>

<body>
    <div id="container">

    <header>
        <a href="index.html"><img src="images/blogbanner.png" alt="Kristina's Diary"></a>
    </header>

    <nav>
        <ul>
            <li><a href="index.html"></a>Home</li>
            <li><a href="travel.html"></a>Travels</li>
            <li><a href="hobbies.html"></a>Hobbies</li>
            <li><a href="contact.html"></a>Let's Talk!</li>
        </ul>
    </nav>

</div> 
</body>
</html>